body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: #8b0000;
}

#cabecalho .nav .nav-link.active {
    background-color: #000000;
    color: #ffffff;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #ffffff;
}
#cabecalho .nav .nav-link:hover {
    background-color: #131313;
    color: #ffffff;
}

.navbar-brand {
    font-family: "Chicle", sans-serif;
    font-size: 2.5rem;
}

.nav-item {
    font-family: "Bangers", sans-serif;
    font-size: 1.3rem;
}

.navbar-toggler {
    background-color: #ffffff;
}

.logo {
    width: 100px;
    height: auto; 
}

#sobre-img {
    object-fit: cover;
    height: auto;
    max-width: 100%;

}

.carousel-inner img {
    height: 400px;
    object-fit: cover;
}

.carousel-inner {
    border-radius: 8px;
    border: 12px solid rgba(116, 1, 1, 0.8);
}

.section-title {
    font-family: "Chicle", sans-serif;
}

.section-title span {
    color: #8b0000;
}

#sobre, #cardapio {
    background-color: #ffd8d8;
}

.text-colored {
    color: #8b0000;
}

.nav-cardapio .nav-link.active {
    background-color: #8b0000;
    color: #ffffff;
}

.nav-cardapio .nav-link:hover {
    background-color: #4d0000;
    color: #ffffff;
}

.cardapio-img {
    height: 200px;
    object-fit: cover;
}

#rodape {
    background-color: #8b0000;
    color: #ffffff;
}

section {
    scroll-margin-top: 105px;
}